@import url('reset.css');

body{
	background-image: url(../img/index_bg.png);
	background-size: cover;
	/*放很大會重複一個背景 韓文跟括號多一種字體?*/
	font-family: Quantico, Yusei Magic;
	color: #ffffff;
}

.wrapper{
	margin: 0 auto;
	width: 1200px;
}

/*menu bar*/

.menu{
	background-color: rgba(0,0,0,.85);
	position: fixed;
	top: 0;
	left: 5px;
	z-index: 3;
	width: 100%;
}

.menu a img{
	width: 102px;
	height: 100px;
	margin-top: 10px;
	margin-left: 5px;
}

.menu ul{
	float: right;
	display: flex;
	margin-top: 40px;
	margin-right: 150px;
}

.menu li{
	margin-left: 40px;
}

.menu li a{
	color: #ffffff;
	font-size: 25px;
	text-decoration-line: none;
}

.menu li a:hover{
	color: #8E2FBE;
}

.menu li a img{
	width: 40px;
	height: 25px;
	margin-top: 0;
}

/*player*/

.player{
	position: fixed;
	top: 475px;
	right: 30px;
    z-index: 3;
    /*放很大就不見了*/
}

.player img{
	width: 180px;
}

/*ad*/

.ad_block{
	background-image: 
		url(../img/ad1.png),
		url(../img/ad_banner.png),
		url(../img/ad2.jpg);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: left -150px bottom, left, right 30px;
	background-size: auto, 180px 450px, 450px 300px;
	background-color: rgba(25,25,112,1);
	margin: 0 auto;
	margin-top: 111px;
	width: 736px;
	height: 450px;
}

.ad_block h1{
	color: #ffffff;
	font-size: 40px;
	text-align: left;
	line-height: 50px;
	padding-top: 340px;
	padding-left: 185px;
}

/*new song*/

.new_song{
	margin: 0 auto;
	width: 700px;
	margin-top: 50px;
}

.new_song h2{
	font-size: 30px;
	text-align: center;
	margin-bottom: 50px;
}

.new_song ul{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

.new_song li{
	background-color: #ffffff;
	margin-bottom: 30px;
	display: inline-flex;
}

.new_song li img{
	display: block;
}

.new_song li a{
	width: 500px;
	text-decoration-line: none;
}

/*icon跑不出來 改完要修改文字位置 會移動*/

/*.fas{
	color: red;
	font-size: 20px;
}*/

/*.new_song li i{
	color: red;
	font-size: 20px;
	padding-top: 70px;
	padding-left: 40px;
}*/

.new_song li a h3{
	color: #000000;
	font-size: 22px;
	margin-top: 55px;
	padding-left: 100px;
}

.new_song li a h4{
	color: #000000;
	font-size: 18px;
	padding-left: 100px;
	margin-top: 10px;
}

/*.new_song li h4:hover{
	color: pink;
}*/

/*news*/

.news{
	margin: 0 auto;
	width: 600px;
	margin-top: 20px;
}

.news h2{
	font-size: 30px;
	text-align: center;
	margin-bottom: 50px;
}

.news_block ul{}

.news_block li{
	display: inline-block;
	align-items: center;
	vertical-align: top;
}

.news_block li img{
	width: 300px;
}

.news_block li h3{
	background-color: #A7A7A7;
	width: 90px;
	color: #000000;
	font-size: 22px;
	line-height: 32px;
	text-align: center;
	margin-left: 10px;
	margin-bottom: 16px;
	display: inline-block;
}

.news_block li h4{
	color: #ffffff;
	font-size: 18px;
	line-height: 30px;
	margin-left: 10px;
	margin-bottom: 16px;
}

.news_block li p{
	color: #ffffff;
	font-size: 16px;
	margin-left: 10px;
	margin-bottom: 30px;
}

/*main star*/

.main_star{
	margin: 0 auto;
	margin-top: 20px;
}

.main_star h2{
	font-size: 30px;
	text-align: center;
	margin-bottom: 50px;
}

.main_star ul{
	width: 800px;
	margin: 0 auto;
	display: table;
}

.main_star li{
	display: table-cell;
	text-align: center;
}

.main_star li img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.main_star li h3{
	color: #A7A7A7;
	font-size: 28px;
	padding-top: 10px;
}

/*hot mv*/

.hot_mv{
	margin: 0 auto;
	margin-top: 50px;
}

.hot_mv h2{
	font-size: 30px;
	text-align: center;
	margin-bottom: 50px;
}

.hot_mv ul{
	width: 960px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.hot_mv li{
	background-color: #ffffff;
	width: 280px;
	height: 310px;
	margin-left: 30px;
	margin-bottom: 30px;
}

.singer{
	width: 120px;
	position: relative;
	top: 0;
	left: 161px;
	z-index: 2;

	/*文字旋轉還沒確定*/
}
.photo{
	width: 250px;
	height: 250px;
	position: relative;
	top: -90px;
	left: 15px;
	z-index: 1;
}

.hot_mv h3{
	color: #303030;
	font-size: 24px;
	text-align: center;
	position: relative;
	top: -80px;
}

/*footer*/

.footer{
	margin: 0 auto;
	margin-top: 20px;	
}

.information{	
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.information li{
	padding-left: 10px;
	padding-right: 10px;
	/*稍微偏一點的感覺*/
}

.footer a{
	color: #ffffff;
	font-size: 20px;
	text-decoration-line: none;
}

.contact{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	/*border: 2px solid pink;*/
}

/*.icon i{}*/
/*要補css*/

.footer h5{
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	margin-bottom: 20px;
}
