@media(min-width: 576px) and (max-width: 767px){
	
	/* 575px RWD跑掉 */
	
	/* ===== menu bar ===== */
	.menu_bar .combobox{
		margin-left: 23px;
	}

	.menu_bar li a{
		font-size: 20px;
	} 

	.menu_bar ol a{
		color: #1C1C1C;
		font-size: 15px;
	}

	.menu_bar li a img{
		width: 30px;
		height: 20px;
	}

	.menu_ham{
		display: none;
	}

	/* ===== player ===== */
	.player_desktop{
		width: 160px;
	}

	.player_desktop .timebox{
		bottom: 99px;
	}

	.player_desktop .song1{
		bottom: 128px;
	}

	.player_desktop .singer1{
		bottom: 114px;
	}

	input[type="range"].timeline{ 
		width: 125px;
		bottom: 98px;
	}

	.desktop .cd_rotate{
		max-width: 70px;
		bottom: 24px;
	}

	.desktop .front{
		bottom: 0;
		left: 28px;
	}

	.desktop .play1{
		bottom: 0;
		left: 43px;
	}

	.desktop .pause1{
		bottom: 0;
		left: 43px;
	}

	.desktop .next{
		bottom: 0;
		left: 58px;
	}

	.desktop .volume1{
		bottom: 0;
		left: 73px;
	}

	.desktop .mute1{
		bottom: 0;
		left: 73px;
	}

	input[type="range"].desktop_line{
		width: 30px;
		left: 92px;
	}

	.player_mobile{
		display: none;
	}

	/* ===== new song ===== */
	.new_song{
		max-width: 70%;

	}

	/* ===== news ===== */
	.news{
		max-width: 100%;
		min-width: 320px;
		/* 裡面東西歪一邊 沒有置中 */
	}

	.news_block{
		display: block;
	}

	.news_block .new1, .new2, .new3, .new4, .new5, .new6{
		flex-direction: column;
		align-items: center;
	}

	.news_block .photo1, .photo2, .photo3, .photo4, .photo5, .photo6{
		margin-bottom: 10px;		
	}

	.news_block h3{
		font-size: 18px;
		margin-left: 5px;
	}
	
	.news_block h4{
		font-size: 16px;
		margin-left: 5px;
	}
	
	.news_block p{
		font-size: 12px;
		margin-left: 5px;
	}
	
	/* ===== main star ===== */
	.main_star{
		max-width: 100%;
	}

	.main_star li{
		display: block;
	}

	.main_star li img{
		max-width: 100%;
	}
	
	/* ===== hot mv ===== */
	.hot_mv li{
	width: calc((100% - 60px) / 2);
	min-width: 170px;
	}
	/* singer條太大 會遮到臉 */

	/* ===== footer ===== */
	footer .information li a{
		font-size: 18px;
	}

	footer .contact li a img{
		width: 30px;
	}

	footer h5{
		font-size: 12px;
	}
}

