@media(max-width: 575px){

	/* ===== menu bar ===== */
	.menu_bar li{
		display: none;
	}

	.menu_ham a img{
		display: block;
	}

	.menu_ham label{
		display: block;
	}

	.menu_ham input{
		display: none;
	}
	/* 選單變很小 跑不出來 */

	/* ===== player ===== */
	.player_desktop{
		display: none;
	}	

	/* ===== footer ===== */
	footer .information li a{
		font-size: 18px;
	}

	footer .contact li a img{
		width: 30px;
	}

	footer h5{
		font-size: 12px;
		margin-bottom: 120px;
	}
}

