@media(max-width: 575px){

	/* ===== menu bar ===== */
	.menu_bar li{
		display: none;
	}

	.menu_ham a img{
		display: block;
	}

	/* .menu_ham .hamburger_btn{
		display: block;
	} */

	/* ===== player ===== */
	.player_desktop{
		display: none;
	}

	.mobile .play2{
		max-width: 30px;
		border: 0;
		outline: 0;
		background-color: transparent;
		position: absolute;
		bottom: 20px;
		left: 300px;
		z-index: 4;
		cursor: pointer;
		/* display: none; */
	}
	
	.mobile .pause2{
		max-width: 30px;
		border: 0;
		outline: 0;
		background-color: transparent;
		position: absolute;
		bottom: 50px;
		left: 300px;
		z-index: 4;
		cursor: pointer;
		/* display: none; */
	}

	.mobile .volume2{
		max-width: 30px;
		border: 0;
		outline: 0;
		background-color: transparent;
		position: absolute;
		bottom: 20px;
		left: 330px;
		z-index: 4;
		cursor: pointer;
		/* display: none; */
	}
	
	.mobile .mute2{
		max-width: 30px;
		border: 0;
		outline: 0;
		background-color: transparent;
		position: absolute;
		bottom: 20px;
		left: 330px;
		z-index: 4;
		cursor: pointer;
		display: none;
	}

	/* ===== type ===== */
	.type li{
		width: 80%;
	}

	/* ===== rank ===== */
	.rank li h3{
		font-size: 25px;
	}

	.rank li p{
		font-size: 16px;
		line-height: 25px;
	}

	.rank li button{
		max-width: 35px;
	}

	footer .information li a{
		font-size: 18px;
	}

	footer .contact li a img{
		width: 30px;
	}

	footer h5{
		font-size: 12px;
		margin-bottom: 120px;
	}
}

