@import url('reset.css');

* {
	box-sizing: border-box;
}

html{
	width: 100%;
}

body{
	background-image: url(../img/index_bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Trebuchet MS, 'Noto Sans TC';
	color: #ffffff;
	width: 100%;
}

img{
	max-width: 100%;
}

/* ===== menu bar ===== */
header{
	background-color: rgba(0,0,0,.85);
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 5;
}

.menu_bar{
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.menu_bar .logo{
	width: 102px;
	height: 100px;
	margin-top: 10px;
	margin-left: 10px;
}

.menu_bar ul{
	float: right;
	display: flex;
	margin-top: 40px;
	margin-right: 10px;
}

.menu_bar .combobox{
	text-align: center;
	margin-left: 15px;
	position: relative;
}

.menu_bar li a{
	color: #ffffff;
	font-size: 25px;
	text-decoration-line: none;
	transition: all .5s
} 

.menu_bar li a:hover{ 
	color: #b369d8;
	text-shadow: rgb(255, 255, 255) 0px 0px 15px;
	transition: .2s ease-out;
}

.menu_bar li:hover > a{
	color: #b369d8;
	text-shadow: rgb(255, 255, 255) 0px 0px 15px;
	transition: .2s ease-out;
}

.menu_bar li:hover .triangle{
	display: block;
}

.triangle{
	width: 0;
	height: 0;
	border-width: 0 8px 10px;
	border-style: solid;
	border-color: transparent transparent #ffffff;
	position: absolute;
	top: 30px;
	left: calc((100% - 10px) / 2);
	display: none;
}	

.menu_bar li:hover ol{
	display: block;
}

.menu_bar ol{
	background-color: #ffffff;
	border-radius: 10px;
	position: absolute;
	top: 40px;
	/* 無法對齊置中 */
	display: none;
}

.menu_bar ol li{
	padding: 10px;
	/* 隨著RWD縮放 文字排列會跑版 */
	border: 2px solid red;
}

.menu_bar ol a{
	color: #1C1C1C;
	font-size: 18px;
}

.menu_bar li a img{
	width: 43px;
	height: 25px;
	object-fit: fill;
}

/* 手機版漢堡 */
.menu_ham a img{
	width: 43px;
	height: 25px;
	object-fit: fill;
	display: none;
	position: absolute;
	top: 40px;
	right: 55px;
}

/* .menu_ham .hamburger_btn{ 
	background-color: #b369d8;
	color: #ffffff;
	font-size: 25px;
	border: 0;
	outline: 0;
	display: none;
	position: absolute;
	top: 35px;
	right: 10px;
	cursor: pointer;
} */

.menu_ham label{
	background-color: #b369d8;
	color: #ffffff;
	font-size: 25px;
	border: 0;
	outline: 0;
	/* display: none; */
	padding: 6px;
	position: absolute;
	top: 34px;
	right: 10px;
	cursor: pointer;
}

.menu_ham input{
	position: absolute;
	top: 0;
	right: 0;
	/* display: none; */
}

.menu_ham ul{
	background-color: #ffffff;
	display: inline-block;
	position: absolute;
	top: -6px;
	/* 用到負值感覺怪怪的 */
	right: 35px;
	border: 1px dashed #2D184B;
	box-shadow: 3px 3px 0px #b369d8;
}

.menu_ham ul .block{	
	text-align: center;
	border-bottom: 1px dashed #2D184B;
	padding: 15px;	
	/* RWD 寬度小於575不見 */
}

.menu_ham ul .block a{
	color: #b369d8;
	font-size: 20px;
	text-decoration-line: none;
}

.menu_ham ul .block ol{
	/* 想要做往下延伸的選單 */
	position: absolute;
	top: 0;
	right: 110px;
	border: 2px solid fuchsia;
}

.menu_ham .block ol li a{
	font-size: 16px;
	display: block;
}

/* ===== main ===== */
.wrapper{
	margin: 0 auto;
	max-width: 1200px;
}

/* ===== player ===== */
.player_desktop{
	width: 180px;
	position: fixed;
	bottom: 20px;
	right: 20px;
    z-index: 3;
}

.desktop{
	position: relative;	
}

.player_desktop .timebox{
	width: 90%;
	position: absolute;
	bottom: 110px;
	right: 5%;
	z-index: 2;
	/* display: none; */
	/* 點播放 才跳出 */
}

.player_desktop .song1{
	color: #2D184B;
	opacity: .69;
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	bottom: 145px;
	left: 18px;
	z-index: 4;
}

.player_desktop .singer1{
	color: #C4B4D9;
	font-size: 12px;
	position: absolute;
	bottom: 130px;
	left: 18px;
	z-index: 4;
}

.desktop .playbox{
	max-width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
}

.desktop .cd_rotate{
	max-width: 80px;
	position: absolute;
	bottom: 27px;
	right: 10px;
	z-index: 3;
}

.desktop .cd_rotate.turn1{
	animation: cd 2.5s linear normal infinite;
}

@keyframes cd{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
	/* 點播放才觸發 暫停要停止 */
}

.desktop .front{
	max-width: 22px;
	border: 0;
	outline: 0;
	background-color: transparent;
	position: absolute;
	bottom: 1px;
	left: 35px;
	z-index: 4;
	cursor: pointer;
}
/* 欠換歌 */

.desktop .play1{
	max-width: 22px;
	border: 0;
	outline: 0;
	background-color: transparent;
	position: absolute;
	bottom: 1px;
	left: 50px;
	z-index: 4;
	cursor: pointer;
}

.desktop .play1.off1{
	display: none;
}

.desktop .pause1{
	max-width: 22px;
	border: 0;
	outline: 0;
	background-color: transparent;
	position: absolute;
	bottom: 1px;
	left: 50px;
	z-index: 4;
	cursor: pointer;
	display: none;	
}

.desktop .pause1.turn2{
	display: inline-block;
}

.desktop .next{
	max-width: 22px;
	border: 0;
	outline: 0;
	background-color: transparent;
	position: absolute;
	bottom: 1px;
	left: 65px;
	z-index: 4;
	cursor: pointer;
}
/* 欠換歌 */

.desktop .volume1{
	max-width: 22px;
	border: 0;
	outline: 0;
	background-color: transparent;
	position: absolute;
	bottom: 1px;
	left: 80px;
	z-index: 4;
	cursor: pointer;
	/* display: none; */
}
/* 欠音量調整 */

.desktop .mute1{
	max-width: 22px;
	border: 0;
	outline: 0;
	background-color: transparent;
	position: absolute;
	bottom: 1px;
	left: 80px;
	z-index: 4;
	cursor: pointer;
	display: none;
}
/* 欠靜音 */

/* 音量線整體區塊 */
input[type="range"].desktop_line{ 
	-webkit-appearance: none;
	overflow: hidden;    
	width: 35px;
	height: 15px;
	outline : none;      
	background: none;
	cursor: pointer;
	z-index: 5;
	margin-left: 100px ;
	margin-bottom: 4px;
}

/* 音量線 */
input[type="range"].desktop_line::-webkit-slider-runnable-track{
	background-color: #C7B8DB;
	height: 3px;
	border-radius: 10px;
	z-index: 5;
}

/* 調整音量的圓點及音軌 */
input[type="range"].desktop_line::-webkit-slider-thumb{
	-webkit-appearance: none;
	position: relative;
	width: 10px;
	height: 10px;
	background: #8E57B9;
	border-radius: 50%;
	/* box-shadow: -100vw 0 0 100vw #46299D; */
	/* 拉過去變色改不了高度 一改就壓縮到圈圈 */
	margin-top: -3px;
}

.player_mobile{
	background-color: rgba(179,105,216,.90);
	width: 100%;	
	position: fixed;
	bottom: 0;
	left: 0;
    z-index: 3;
}

.mobile{
	position: relative;
}

.mobile .album{
	max-width: 120px;
	margin: 15px 15px;
	box-shadow: 0px 0px 5px #000000;
}

.mobile .album img{
	display: block;
}

.player_mobile .song2{
	color: #FFFFFF;
	text-shadow: 3px 3px 3px #000000;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	bottom: 35px;
	left: 160px;
	z-index: 4;
}

.player_mobile .singer2{
	color: rgba(255,255,255,.80);
	font-size: 14px;
	position: absolute;
	bottom: 15px;
	left: 160px;
	z-index: 4;
}

/* ===== type =====*/
.type{
	max-width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}

.type ul{
	display: flex;
	flex-wrap: wrap;
}

.type li{
	margin: 0 auto;	
	width: 30%;
	margin-bottom: 30px;
	position: relative;
}

.type li a{
	display: block;
	text-decoration: none;
}

.type li a:hover{
	opacity: 1;
	transform: scale(1.1);
}

.type li a img{
	width: 100%;
	opacity: .7;
}

.type li a h2{
	color: #ffffff;
	font-size: 40px;
	text-align: center;
	position: absolute;
	top: calc((100% - 40px) / 2);
	left: calc((100% - 85px) / 2);
}

/* ===== rank =====*/

.rank{
	max-width: 90%;
	margin: 0 auto;
	margin-top: 10px;
}

.rank li{
	position: relative;
	margin-bottom: 30px;
}

.rank li img{
	width: 100%; 
	height: 260px;
	object-fit: cover;
}

.rank li h3{
	color: #000000;
	background-color: #ffffff;
	width: 80%;
	font-size: 30px;
	text-align: center;
	line-height: 70px;
	position: absolute;
	top: 20px;
	left: calc((100% - 80%) / 2);
}

.rank li p{
	font-size: 20px;
	line-height: 30px;
	position: absolute;
	top: 103px;
	left: 10%;
}

.rank li button{
	max-width: 45px;
	background-color: transparent;
	border: 0;
	outline: 0;
	cursor: pointer;
	position: absolute;
	bottom: 10px;
	right: 5px; 
}

.rank li button img{
	height: 100%;
}

/* ===== footer =====*/

footer{
	width: 300px;
	margin: 0 auto;
	margin-top: 20px;
}

footer .information{	
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

footer .information li{
	padding-left: 10px;
	padding-right: 10px;
}

footer .information li a{
	color: #ffffff;
	font-size: 20px;
	text-decoration-line: none;
	transition: all .3s;
}

footer .information li a:hover{
	text-shadow: 0px 5px 3px #b369d8;
}

footer .contact{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

footer .contact li{
	padding-left: 10px;
	padding-right: 10px;
}

footer .contact li a img{
	width: 35px;
	transition: all .3s;
}

footer .contact li a img:hover{
	transform: rotate3d(0, 0, -1, 25deg);
}

footer h5{
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	margin-bottom: 20px;
}

