@media(max-width: 575px){

	/* ===== menu bar ===== */
	.menu_bar .hamburger_btn{
		display: block;
	}

	.menu_bar li:not(:last-child){
		display: none;
	}	

	/* ===== player ===== */
	.player_desktop{
		display: none;
	}

	.mobile .play2{
		max-width: 30px;
		border: 0;
		outline: 0;
		background-color: transparent;
		position: absolute;
		bottom: 20px;
		left: 300px;
		z-index: 4;
		cursor: pointer;
		/* display: none; */
	}

	
	.mobile .pause2{
		max-width: 30px;
		border: 0;
		outline: 0;
		background-color: transparent;
		position: absolute;
		bottom: 50px;
		left: 300px;
		z-index: 4;
		cursor: pointer;
		/* display: none; */
	}

	.mobile .volume2{
		max-width: 30px;
		border: 0;
		outline: 0;
		background-color: transparent;
		position: absolute;
		bottom: 20px;
		left: 330px;
		z-index: 4;
		cursor: pointer;
		/* display: none; */
	}
	
	.mobile .mute2{
		max-width: 30px;
		border: 0;
		outline: 0;
		background-color: transparent;
		position: absolute;
		bottom: 20px;
		left: 330px;
		z-index: 4;
		cursor: pointer;
		display: none;
	}
}

