@media(max-width: 575px){

	/* ===== menu bar ===== */

	/* 筆記：點擊這兩個class 需要隱藏起來 */
	/* .menu_bar ul{
		display: none;
	} */

	/* 筆記：當show出現的時候 需要出現這個按鈕 */
	/* .menu_ham input.show{
	display: block;
	} */




	.menu_bar ul{
		display: none;
	}

	.menu_ham a img{
		display: block;
	}

	.menu_ham label{
		display: block;
	}

	.menu_ham input{
		display: none;
	}
	/* 選單變很小 跑不出來 */

	/* ===== player ===== */
	.player_desktop{
		display: none;
	}	

	/* ===== type ===== */
	.type li{
		width: 80%;
	}

	/* ===== rank ===== */
	.rank li h3{
		font-size: 25px;
	}

	.rank li p{
		font-size: 16px;
		line-height: 25px;
	}

	.rank li button{
		max-width: 35px;
	}

	/* ===== footer ===== */
	footer .information li a{
		font-size: 18px;
	}

	footer .contact li a img{
		width: 30px;
	}

	footer h5{
		font-size: 12px;
		margin-bottom: 110px;
	}
}

