@media(min-width: 576px) and (max-width: 767px){
	
	/* 575px RWD跑掉 */
	/* ===== menu bar ===== */
	.menu_bar li a{
		font-size: 20px;
	} 

	.menu_bar ol a{
		color: #1C1C1C;
		font-size: 15px;
	}

	.menu_bar li a img{
		width: 30px;
		height: 20px;
	}

	/* ===== player ===== */
	.player_desktop{
		width: 160px;
	}

	.player_desktop .timebox{
		bottom: 99px;
	}

	.player_desktop .song1{
		bottom: 128px;
	}

	.player_desktop .singer1{
		bottom: 114px;
	}

	.desktop .cd_rotate{
		max-width: 70px;
		bottom: 24px;
	}

	.desktop .front{
		bottom: 0;
		left: 28px;
	}

	.desktop .play1{
		bottom: 0;
		left: 43px;
	}

	.desktop .pause1{
		bottom: 10px;
		left: 43px;
	}

	.desktop .next{
		bottom: 0;
		left: 58px;
	}

	.desktop .volume1{
		bottom: 0;
		left: 73px;
	}

	.desktop .mute1{
		bottom: 0;
		left: 73px;
	}

	input[type="range"].desktop_line{
		margin-left: 93px;
		margin-bottom: 2px;
	}

	.player_mobile{
		display: none;
	}

	/* ===== type ===== */
	.type li{
		width: 45%;
	}

	/* ===== rank ===== */
	.rank li h3{
		font-size: 25px;
	}

	.rank li p{
		font-size: 16px;
		line-height: 25px;
	}

	.rank li button{
		max-width: 35px;
	}

	footer .information li a{
		font-size: 18px;
	}

	footer .contact li a img{
		width: 30px;
	}

	footer h5{
		font-size: 12px;
	}
}

