@import url('reset.css');

* {
	box-sizing: border-box;
}

body{
	background-image: url(../img/index_bg.png);
	background-size: cover;
	/*放很大會重複一個背景*/
	font-family: Trebuchet MS, 'Noto Sans TC';
	color: #ffffff;
}

img{
	max-width: 100%;
}

/* ===== menu bar ===== */
header{
	background-color: rgba(0,0,0,.85);
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 3;
}

.menu_bar{
	width: 1200px;
	margin: 0 auto;
}

.menu_bar .logo{
	width: 102px;
	height: 100px;
	margin-top: 10px;
	margin-left: 10px;
}

.menu_bar ul{
	float: right;
	display: flex;
	margin-top: 40px;
	margin-right: 10px;
}

.menu_bar li{
	margin-left: 40px;
}

.menu_bar li a{
	color: #ffffff;
	font-size: 25px;
	text-decoration-line: none;
} 

.menu_bar li a:hover{ 
	color: #b369d8;
}
/* 欠下拉式選單 */

.menu_bar li a img{
	width: 43px;
	height: 25px;
}

/* header .hamburger_btn{ 
	background-color: #b369d8;
	color: #ffffff;
	font-size: 30px;
	border-style: none;
	display: none;

	position: absolute;
	top: 35px;
	right: calc(100vw - 10px); 
	漢堡選單的位置 怎麼移動不會亂跑
	改完記得修改header到離下的距離 
} */

/* @media screen and (max-width: 575px){
	header .hamburger_btn{
		display: inline-block;
	}
} */

.wrapper{
	margin: 0 auto;
	width: 1200px;
}

/* ===== player ===== */

.player{
	position: fixed;
	bottom: 20px;
	right: 20px;
    z-index: 3;
    /*放很大就不見了*/
}

.player img{
	width: 180px;
}

/* @media screen and (max-width: 575px){
	.player img{
		width: 100px;
		直接調整大小? 不同工具有的看不到 要怎麼調整位置
	}
} */

/* ===== type =====*/

.type{
	margin: 0 auto;
	/* margin-top: 110px; */
}

.type ul{
	width: 1040px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.type li{
	margin-left: 20px;
	border: 2px solid palevioletred;
}

/* @media screen and (max-width: 575px){
	.type li{
		width: 100%;
		li超寬>< 然後文字要怎麼移回去
	}
} */

.type img{
	width: 320px;
	height: 185px;
	opacity: .7;
}

.type h2{
	color: #ffffff;
	font-size: 40px;
	text-align: center;
	position: relative;
	top: -110px;
}

/* ===== rank =====*/

.rank{
	width: 900px;
	margin: 0 auto;
	margin-top: 30px;
}

.rank li{
	height: 250px;
    margin-bottom: 50px;
}

.rank img{
	width: 100%;
	height: 100%;
	z-index: 1;
}

.rank h3{
	color: #000000;
	background-color: #ffffff;
	width: 860px;
	font-size: 30px;
	text-align: center;
	line-height: 70px;
	position: relative;
	top: -220px;
	left: 20px;
	z-index: 2;
}

.rank p{
	color: #ffffff;
	font-size: 20px;
	line-height: 30px;
	position: relative;
	top: -210px;
	left: 30px;
	z-index: 2;
}

/* ===== footer =====*/

footer{
	width: 300px;
	margin: 0 auto;
	margin-top: 20px;
}

.information{	
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.information li{
	padding-left: 10px;
	padding-right: 10px;
}

footer a{
	color: #ffffff;
	font-size: 20px;
	text-decoration-line: none;
}

.contact{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.contact li{
	padding-left: 10px;
	padding-right: 10px;
}

.contact li a img{
	width: 40px;
}

footer h5{
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	margin-bottom: 20px;
}

