@media(min-width: 768px) and (max-width: 1199px){

    /* ===== menu bar ===== */
    .menu_ham{
        display: none;
    }
    
    /* ===== player ===== */
    .player_mobile{
        display: none;
    }

    /* ===== news ===== */
    .news{
        max-width: 40%;
        min-width: 630px;
    }

    .news_block{
        /* max-width: 90%; */
        margin: 0 auto;
    }

    aside{
        display: none;
    }
}

